@model _2012128180_EN.Entities.CentroAtencion

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CentroAtencion</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DireccionId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DireccionId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EvaluacionId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EvaluacionId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VentasId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VentasId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { Id = Model.CentroAtencionId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
